### Scala ###
*.class
*.log

### SBT ###
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

### IntelliJ IDEA ###
.scala_dependencies
.worksheet
.idea
.idea.bak/
intellij/out

### BSP ###
.bsp/
